<div class="form-container">
  <header>
    <%= link_to "â† Back to Sites", sites_path, class: "link link-bold" %>
    <div class="page-header">
      <h1 class="page-title">Add New Site</h1>
      <p class="text-muted">Start monitoring a new website for uptime and performance</p>
    </div>
  </header>

  <div>
    <%= render 'sites/partials/form', site: @site %>
  </div>
</div>
