<div class="container">
  <%= render 'sites/partials/site_header', site: @site %>

  <div class="site-layout">
    <main class="flex-col">
      <%= render 'sites/partials/site_details', site: @site %>
      <%= render 'sites/partials/site_monitoring_info', site: @site %>
    </main>

    <aside class="flex-col">
      <%= render 'sites/partials/site_actions', site: @site %>
    </aside>
  </div>
</div>
